<a href="https://colab.research.google.com/github/Mallesh4238/CRT-Programs/blob/main/CRT_programs_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAY:3**

In [ ]:
n = int(input("Enter a number: "))
sum = 0
temp = n
order = len(str(n))

while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

if n == sum:
    print(f"{n} is an Armstrong number")
else:
    print(f"{n} is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

**DAY:4**

In [ ]:
#this is my approach
n = int(input())
for i in range(1,n+1):
  print("*"*n)

7
*******
*******
*******
*******
*******
*******
*******

In [ ]:
length = int(input())
breadth = int(input())
for i in range(1,length+1):
  for j in range(1,breadth+1):
    print("*",end="")
  print()

7
7
*******
*******
*******
*******
*******
*******
*******

In [ ]:
#this is my approach
n = int(input())
for i in range(1,n+1):
  print("*"*i)

7
*
**
***
****
*****
******
*******

In [ ]:
n= int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

7
*
**
***
****
*****
******
*******

In [ ]:
# i tried this code
n= int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

7
1
12
123
1234
12345
123456
1234567

In [ ]:
n = int(input())
for i in range(1,n+1):
  k=n
  for j in range(1,i+1):
    print(k,end="")
    k=k-1
  print()

7
7
76
765
7654
76543
765432
7654321

In [ ]:
for i in range(1,256):
  print(i,"-> ",chr(i))

1 ->  
2 ->  
3 ->  
4 ->  
5 ->  
6 ->  
7 ->  
8 ->  
9 ->
10 ->

11 ->
12 ->
13 ->
14 ->  
15 ->  
16 ->  
17 ->  
18 ->  
19 ->  
20 ->  
21 ->  
22 ->  
23 ->  
24 ->  
25 ->  
26 ->  
27 ->  
28 ->
29 ->
30 ->
31 ->
32 ->
33 ->  !
34 ->  "
35 ->  #
36 ->  $
37 ->  %
38 ->  &
39 ->  '
40 ->  (
41 ->  )
42 ->  *
43 ->  +
44 ->  ,
45 ->  -
46 ->  .
47 ->  /
48 ->  0
49 ->  1
50 ->  2
51 ->  3
52 ->  4
53 ->  5
54 ->  6
55 ->  7
56 ->  8
57 ->  9
58 ->  :
59 ->  ;
60 ->  <
61 ->  =
62 ->  >
63 ->  ?
64 ->  @
65 ->  A
66 ->  B
67 ->  C
68 ->  D
69 ->  E
70 ->  F
71 ->  G
72 ->  H
73 ->  I
74 ->  J
75 ->  K
76 ->  L
77 ->  M
78 ->  N
79 ->  O
80 ->  P
81 ->  Q
82 ->  R
83 ->  S
84 ->  T
85 ->  U
86 ->  V
87 ->  W
88 ->  X
89 ->  Y
90 ->  Z
91 ->  [
92 ->  \
93 ->  ]
94 ->  ^
95 ->  _
96 ->  `
97 ->  a
98 ->  b
99 ->  c
100 ->  d
101 ->  e
102 ->  f
103 ->  g
104 ->  h
105 ->  i
106 ->  j
107 ->  k
108 ->  l
109 ->  m
110 ->  n
111 ->  o
112 ->  p
113 ->  q
114 ->  r
115 ->  s
116 ->  t
117 ->  u
118 ->  v
119 ->  w
120 ->  x
121 ->  y
122 ->  z
123 ->  {
124 ->  |
125 ->  }
126 ->  ~
127 ->  
128 ->  
129 ->  
130 ->  
131 ->  
132 ->  
133 ->
134 ->  
135 ->  
136 ->  
137 ->  
138 ->  
139 ->  
140 ->  
141 ->  
142 ->  
143 ->  
144 ->  
145 ->  
146 ->  
147 ->  
148 ->  
149 ->  
150 ->  
151 ->  
152 ->  
153 ->  
154 ->  
155 ->  
156 ->  
157 ->  
158 ->  
159 ->  
160 ->
161 ->  ¡
162 ->  ¢
163 ->  £
164 ->  ¤
165 ->  ¥
166 ->  ¦
167 ->  §
168 ->  ¨
169 ->  ©
170 ->  ª
171 ->  «
172 ->  ¬
173 ->  ­
174 ->  ®
175 ->  ¯
176 ->  °
177 ->  ±
178 ->  ²
179 ->  ³
180 ->  ´
181 ->  µ
182 ->  ¶
183 ->  ·
184 ->  ¸
185 ->  ¹
186 ->  º
187 ->  »
188 ->  ¼
189 ->  ½
190 ->  ¾
191 ->  ¿
192 ->  À
193 ->  Á
194 ->  Â
195 ->  Ã
196 ->  Ä
197 ->  Å
198 ->  Æ
199 ->  Ç
200 ->  È
201 ->  É
202 ->  Ê
203 ->  Ë
204 ->  Ì
205 ->  Í
206 ->  Î
207 ->  Ï
208 ->  Ð
209 ->  Ñ
210 ->  Ò
211 ->  Ó
212 ->  Ô
213 ->  Õ
214 ->  Ö
215 ->  ×
216 ->  Ø
217 ->  Ù
218 ->  Ú
219 ->  Û
220 ->  Ü
221 ->  Ý
222 ->  Þ
223 ->  ß
224 ->  à
225 ->  á
226 ->  â
227 ->  ã
228 ->  ä
229 ->  å
230 ->  æ
231 ->  ç
232 ->  è
233 ->  é
234 ->  ê
235 ->  ë
236 ->  ì
237 ->  í
238 ->  î
239 ->  ï
240 ->  ð
241 ->  ñ
242 ->  ò
243 ->  ó
244 ->  ô
245 ->  õ
246 ->  ö
247 ->  ÷
248 ->  ø
249 ->  ù
250 ->  ú
251 ->  û
252 ->  ü
253 ->  ý
254 ->  þ
255 ->  ÿ

In [ ]:
n = int(input())
for i in range(1,n+1):
  k='A'
  for j in range(1,i+1):
    print(k,end='')
    k = ord(k)+1
    k = chr(k)
  print()

7
A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="")
  k='A'
  for j in range(1,i+1):
    print(k,end="")
    k= chr(ord(k)+1)
  print()

7
      A
     AB
    ABC
   ABCD
  ABCDE
 ABCDEF
ABCDEFG

**DAY:5**

In [ ]:
# WITHOUT PARAMETERS AND WITHOUT ARGUMENTS
def f1(v):
  print(v)
  f2(v+1)
def f2(v):
  print(v)
  f3(v+1)
def f3(v):
  print(v)
  f4(v+1)
def f4(v):
  print(v)
  f5(v+1)
def f5(v):
  print(v)
f1(1)

1
2
3
4
5

In [ ]:
def f(v):
  if v==6:
    return
  print(v)
  f(v+1)
f(1)

1
2
3
4
5

In [ ]:
def f(v):
  if v==0:
    return
  print(v)
  f(v-1)
f(5)

5
4
3
2
1

In [ ]:
#if i give one also it prints reverse
def f(v):
  if v==6:
    return
  f(v+1)
  print(v)
f(1)

5
4
3
2
1

In [ ]:
def f(v,sum):
  if v==6:
    print(sum)
    return
  sum = sum+v
  f(v+1,sum)
f(1,0)

15

In [ ]:
#sum of natural numbers using recursion 1st approach
def f(v,sum,n):
  if v==n+1:
    print(sum)
    return
  sum = sum+v
  f(v+1,sum,n)
n=int(input())
f(1,0,n)

7
28

In [ ]:
#sum of natural numbers using recursion 2nd approach
def sum(v):
  if v==5:
    return 5
  rem = sum(v+1)
  return v+rem
print(sum(1))

15

**DAY:6**

In [ ]:
'''Function syntax:
def funName(parameters):
    statement/return'''
def add(a,b):
  return a+b
a=int(input())
b=int(input())
print("result function:",add(a,b))


'''Lambda syntax:
funName = lambda parameters:return
expressions/tasks'''
add = lambda a,b:a+b
a=int(input())
b=int(input())
print("result lambda:",add(a,b))

7
7
result function: 14
7
7
result lambda: 14

In [ ]:
x=10
def num():
    x=20
    print(x)
num()
print(x)

20
10

In [ ]:
x=10
def num():
    global x
    x=20
    print(x)
num()
print(x)

20
20

In [ ]:
def num():
    global x
    x=20
    print(x)
num()
print(x)

20
20

In [ ]:
x=10
def num():
    x=20
    print(x)
    def inner():
        x=15
        print(x)
    inner()
num()
print(x)

20
15
10

In [ ]:
x=10
def num():
    x=20
    print(x)
    def inner():
        global x
        x=15
        print(x)
    inner()
num()
print(x)

20
15
15

In [ ]:
x=10
def num():
    x=20
    print(x)
    def inner():
        nonlocal x
        x=15
        print(x)
    inner()
num()
print(x)

20
15
10

In [ ]:
def fib(n):
  if n==1:
    return 1
  elif n==0:
    return 0
  else:
    result=fib(n-1)+fib(n-2)
    return result
    print(fib(n))
n=int(input())
print(fib(n))

5
5

**DAY:7**

In [ ]:
def fib(n,arr):
  if n==0 or n==1:
    return n
  if arr[n]!=-1:
    return arr[n]
  result=fib(n-1,arr)+fib(n-2,arr)
  arr[n]=result
  return result
n=int(input())
arr=[-1]*(n+1)
arr[0]=0
arr[1]=1
print(fib(n,arr))

5
5

In [ ]:
a=int(input())
b=int(input())
a=a^b
b=a^b
a=a^b
print(f"a={a} b={b}")

4
5
a=5 b=4

In [ ]:
a=int(input())
b=int(input())
while a!=0 and b!=0:
  if a<b:
    b=b%a
  else:
    a=a%b
if a==0:
  print(b)
else:
  print(a)

28
20
4

In [ ]:
def gcd(a,b):
  if a==0:
    return b
  elif b==0:
    return a
  if a<b:
    b=b%a
    result = gcd(a,b)
    return result
  else:
    a=a%b
    result = gcd(a,b)
    return result
a=int(input())
b=int(input())
print(gcd(a,b))

28
48
4

In [ ]:
n= int(input())
a=n*3
if n==a:
  print(True)
else:
  print(False)

27
False

**DAY:8**

In [ ]:
str="hello world"
sub="llo"
print(str.index(sub))
print(str.find(sub))

2
2

In [ ]:
"""string.isalpha() is used to check whether the characters are only alphabet or not"""
"""string.isnumeric() is used to check whether the characters are only numbers or not"""
#spaces not accept in both keywords
str="helloworld"
print(str.isalpha())
print(str.isnumeric())

True
False

In [ ]:
str="1234567"
print(str.isalpha())
print(str.isnumeric())

False
True

In [ ]:
str="hello world"
print(str.isalpha())
print(str.isnumeric())

False
False

In [ ]:
#leet code interview easy question
str="hello world"
def lengthOfLastWord(str):
  s=str.strip()
  for i in range(len(str)-1,-1,-1):
    if str[i]==" ":
      size=len(str)-1-i
      return size
  return len(str)
s=lengthOfLastWord(str)
print(s)

5

In [ ]:
def strStr(haystack, needle):
        return haystack.find(needle)
var=strStr("sadbutsad","sad")
print(var)

0

In [ ]:
def strStr(haystack,needle):
  for i in range(len(haystack)):
    if haystack[i]==needle[0]:
      s2=haystack[i:i+len(needle)]
      if s2==needle:
        return i
  return -1
var=strStr("sadbutsad","sad")
print(var)

0

**DAY:9  16-07-25**

In [ ]:
#bruteforce approach for backend to take input of list
var = input()
var2=var.split(" ")
print(var2)
var3=map(int,var2)
print(var3)
var4= list(var3)
print(var4)

1 2 3 4 5
['1', '2', '3', '4', '5']
<map object at 0x79f2041e8040>
[1, 2, 3, 4, 5]

In [ ]:
var = list(map(int,input().split()))
print(var)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
#brute force approach for print list values into normal values
var = list(map(int,input().split()))
print(var)
for i in range(len(var)):
  print(var[i],end=" ")

1 2 3 4 5
[1, 2, 3, 4, 5]
1 2 3 4 5

In [ ]:
list=[1,2,3]
print(list)
for i in list:
  print(i,end=" ")

[1, 2, 3]
1 2 3

In [ ]:
#method to insert element at last of the list
list.append(element)
#method to delete element at particular index
list.pop(index)
# method to insert an element at particular index
list.insert(index,element)

In [ ]:
list=[1,9,5,4,35,6,3]
list.sort()
print(list)

[1, 3, 4, 5, 6, 9, 35]

In [ ]:
list=[1,9,5,4,35,6,3]
var = sorted(list)
print(var)

[1, 3, 4, 5, 6, 9, 35]

In [ ]:

n= list(map(int,input().split()))

multi = list(filter (lambda x: x%3==0,n))

if multi:

    for i in multi:

        print(i,end=" ")

else:

    print("No multiples of 3 found")

15 18 22 30
15 18 30

In [ ]:
#avg using args
def avg(*args):
    a=sum(args)/len(args)
    return a
n=list(map(int,input().split()))
print

**DAY:10 17-10-25**

In [ ]:
n=tuple(map(int,input().split()))
print(n)

1 2 3 4 5 6 7
(1, 2, 3, 4, 5, 6, 7)

In [ ]:
n=tuple(map(int,input().split()))
print(n)
for i in n:
  print(i,end=" ")

1 2 3 4 5 6 7
(1, 2, 3, 4, 5, 6, 7)
1 2 3 4 5 6 7

In [ ]:
#two sum
def twosum(nums,target):
  for i in range(len(nums)):
    for j in range(i+1,len(nums)):
      if nums[i]+nums[j]==target:
        return [i,j]
target=int(input("Target:"))
nums=list(map(int,input("Input have contain exactly one solution:").split()))
n=twosum(nums,target)
print(n)

Target:10
Input have contain exactly one solution:2 5 5 6 4
[1, 2]

**DAY:10 18-07-25**

In [ ]:
#New approach for two sum by reducing time complexity N sqr to O(N)
def twoSum(nums, target):
        dict={}
        for i in range(len(nums)):
            felem=nums[i]
            selem=target-felem
            if selem not in dict:
                dict[felem]=i
            else:
                return [dict[selem],i]
target=int(input("Target:"))
nums=list(map(int,input("Input have contain exactly one solution:").split()))
print(twoSum(nums,target))

Target:10
Input have contain exactly one solution:2 5 5 6 4
[1, 2]

**DAY:11 21-07-25**

In [ ]:
# intialization
# s1=set(object(eg list,tuple,dict))
# print(s1)

In [ ]:
s=list(map(int,input().split()))
s1=set(s)
print(s1)

1 2 2 2 3
{1, 2, 3}

In [ ]:
s4={1,3,4,5,2,2}
s5={2,3,4,5,1}
s6=s4.intersection(s5)
print(s6)

{1, 2, 3, 4, 5}

In [ ]:
leetcode questions
1.contais duplicate
2.ransom Note
3.Happy number

In [ ]:
#sir approach for
def sumofsquares(n):
  sum=0
  while n!=0:
    temp=n%10
    sum+=(temp**2)
    n=n//10
  return sum
def isHappy(n):
  s=set()
  while n!=1:
    n=sumofsquares(n)
    if n in s:
      return False
    else:
      s.add(n)
  return True
n=int(input())
print(isHappy(n))

19
True

**DAY:12 22-07-2025**

In [ ]:
#Max
arr=list(map(int,input().split()))
max=-1
for i in range(len(arr)):
  elem=arr[i]
  if elem>max:
    max=elem
print(max)

1 2 3 4 5
5

In [ ]:
def intersection(nums1, nums2):
        res=set()
        for i in nums1:
            if i in nums2:
                res.add(i)
        return list(res)
nums1=list(map(int,input().split()))
nums2=list(map(int,input().split()))
print(intersection(nums1,nums2))

1 2 2 3
2 2 1 2
[1, 2]

In [ ]:
l1=[1,2,3]
l2=[]
print(l2.append(l1))

None

DAY:13 23-07-2025

In [ ]:
l=[]
for i in range(1,11):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#syntax of list comprehension
#l=[expression for item in range() you can give if condition also]
#print(l)

In [ ]:
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#my code
st=int(input("Start:"))
end=int(input("End:"))
l=[i%2==0 for i in range(st,end+1)]
print(l)

Start:1
End:100
[False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
#sir approch
st=int(input("Start:"))
end=int(input("End:"))
l=[i for i in range(st,end+1) if i%2==0]
print(l)

Start:1
End:100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
#chat my approach
n=int(input())
l=[i for i in range(2,n) if all(i%j!=0 for j in range(2,i))]
print(l)

100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
#sir approach
def isPrime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return True
n=int(input())
l=[i for i in range(2,n+1) if isPrime(i)]
print(l)

100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
#squrae numbers in the given range
n=int(input())
l=[i**2 for i in range(1,n+1)]
print(l)

50
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [ ]:
#2nd approch squrae numbers in the given range
n=int(input())
l=[i*i for i in range(1,n+1)]
print(l)

In [ ]:
#syntax of set comprehension
n=int(input())
l={i*i for i in range(1,n+1)}
print(l)

50
{256, 1, 1024, 2304, 4, 900, 1156, 9, 16, 144, 400, 529, 784, 1296, 1681, 1936, 25, 289, 2209, 36, 676, 1444, 169, 49, 441, 1849, 64, 576, 961, 1089, 196, 324, 1600, 2116, 2500, 841, 1225, 81, 729, 1369, 225, 2401, 100, 484, 1764, 361, 2025, 625, 1521, 121}

# MATRIX

In [ ]:
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
print(matrix[1][2])

6

In [ ]:
#row print
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
for i in range(len(matrix[0])):
  print(matrix[0][i],end=" ")

1 2 3

In [ ]:
#column print
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
for i in range(len(matrix[0])):
  print(matrix[i][0],end=" ")

1 4 7

In [ ]:
#Total Access
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
for i in range(len(matrix)):
  print(matrix[i],end=" ")

[1, 2, 3] [4, 5, 6] [7, 8, 9]

In [ ]:
#Matrix
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
for i in range(len(matrix)):
  for j in range(len(matrix[i])):
    print(matrix[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Total Access My Approch
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9]]
for i in range(len(matrix)):
  print(*matrix[i])

1 2 3
4 5 6
7 8 9

In [ ]:
n=int(input())
m=[]
for i in range(n):
  l=list(map(int,input().split()))
  m.append(l)
print(m)

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
n=int(input())
m=[list(map(int,input().split()))for i in range(n)]
print(m)

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
m=[[1,2,3],[4,5,6],[7,8,9]]
l=[]
for i in matrix:
  for j in i:
    l.append(j)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
m=[[1,2,3],[4,5,6],[7,8,9]]
key=int(input())
flag=False
for i in range(len(m)):
  for j in range(len(m[i])):
    elem=m[i][j]
    if elem==key:
      flag=True
if flag==True:
  print("Key found")
else:
  print("Key not found")

7
Key found

In [ ]:
#DEFAULT MATRIX 0
r=int(input())
c=int(input())
m=[[0 for j in range(c)]for i in range(r)]
print(m)

6
4
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

**DAY:14 25-07-25**

In [ ]:
#dict comprehension
dict={i:i*i for i in range(11)}
print(dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
l=["Data","Python","AI","ML","HTML"]
dict={i:len(i) for i in l}
print(dict)

{'Data': 4, 'Python': 6, 'AI': 2, 'ML': 2, 'HTML': 4}

In [ ]:
l=["Data","Python","AI","ML","HTML"]
dict={i:len(i) for i in l if len(i)>=4}
print(dict)

{'Data': 4, 'Python': 6, 'HTML': 4}

In [ ]:
def count(str,ch):
  c=0
  for i in str:
    if i==ch:
      c+=1
  return c
str=input("Enter the word:")
s=set(str)
dict={ch:count(str,ch) for ch in s}
print(dict)

Enter the word:mallesh
{'a': 1, 'm': 1, 'h': 1, 'l': 2, 's': 1, 'e': 1}

In [ ]:
dict={"python":65,"ML":50,"c++":77}
d={name:b for name,b in dict.items() if b>=60}
print(d)

{'python': 65, 'c++': 77}

In [ ]:
list=['hi','data','AI']
d={words:index*len(words) for index,words in enumerate(list)}
print(d)

{'hi': 0, 'data': 4, 'AI': 4}

In [ ]:
d={i for i in range(5) if i%2}
print(d)

{1, 3}

In [ ]:
#chat gpt approach permutations
def fun(res,remain):
  if len(remain)==0:
    print(res)
    return
  for i in range(len(remain)):
      ch=remain[i]
      upRes=res+ch
      upStr=remain[:i]+remain[i+1:]
      fun(upRes,upStr)
input_str=input("Enter the string:")
fun("",input_str)

Enter the string:abc
abc
acb
bac
bca
cab
cba

In [ ]:
#Permutations with given string sir approach i tried
def fun(res, str):
    if len(str) == 0:
        print(res)
        return
    for i in range(len(str)):
        ch = str[i]
        upRes = res + ch
        upStr = str[:i] + str[i+1:]
        fun(upRes, upStr)
str = input("Enter the string: ")
res=""
fun(res,str)
#Time complexity (len(str)^len(str)-1)

Enter the string: abc
abc
acb
bac
bca
cab
cba

**25-07-25 TEST ANSWERS**

In [ ]:
#CHARCTER ASCII

s = input()
d = {ch: ord(ch) for ch in s}
result = "{" + ", ".join(f"{k}={v}" for k, v in d.items()) + "}"
print(result)

In [ ]:
#FREQUENCY COUNT
s = input()
d = {}
for ch in s:
  d[ch]=d.get(ch,0)+1
result = "{" + ", ".join(f"{k}={v}" for k, v in d.items()) + "}"
print(result)

hello
{h=1, e=1, l=2, o=1}

In [ ]:
#EVEN LENGHT WORDS
n = int(input())
l = input().split()
d = {}

for i in l:
    if len(i) % 2 == 0:
        d[i] = len(i)

result = "{" + ", ".join(f"{k}={v}" for k, v in d.items()) + "}"
print(result)

In [ ]:
#PERFECT NUMBER
n = int(input("Enter a number: "))
sum_of_divisors = sum(i for i in range(1, n) if n % i == 0)

if sum_of_divisors == n:
    print(f"{n} is a Perfect Number")
else:
    print(f"{n} is Not a Perfect Number")

In [ ]:
#MODULUS MAPPING
n = int(input())
nums = list(map(int, input().split()))

d = {i: i % 3 for i in nums}
result = "{" + ", ".join(f"{k}={v}" for k, v in d.items()) + "}"
print(result)

In [ ]:
#SQUARES DICTONARY
n=int(input())
d={i:i**2 for i in range(1,n+1)}
f=", ".join([f"{k}={v}" for k,v in d.items()])
print("{"+ f +"}")

In [ ]:
#UPPERCASE MPPING
n = int(input())
words = [input() for _ in range(n)]

d = {word: word.upper() for word in words}
m = "{" + ", ".join(f"{k}={v}" for k, v in d.items()) + "}"
print(m)

**DAY:15 28-07-25**

CODEWARS

In [ ]:
n=int(input())
s=str(n)
rev=s[::-1]
l=[]
for i in rev:
    l.append(int(i))
print(l)

1234567
[7, 6, 5, 4, 3, 2, 1]

**FILE HANDLING**

In [ ]:
# syntax to point a file
# fn=open("filename","mode")
# Types
# 1.ACCESSING A FILE
# 2.MODES
#   ->READING MODE ('r') ('r+')
#   ->WRITING MODE ('w') ('w+')
#   ->APPEND MODE  ('a') ('a+')

# modes
# 1.read mode
# it reads the data inside the file only
# if file not exist it returns file
# notfound error

# 2.write mode
# it writes the data inside the file by
# erasing all the content inside the file
# if file not exists it creates new file

# methods
# 1.obj.tell() method
# it returns the current
#  index of the cursor/pointer
# 2.obj.seek(index)
# it is used to locate pointer at
#  specific index

**DAY: 16 30-07-2025**

In [2]:
k=int(input("Enter subsequence range:"))
arr=list(map(int,input().split()))
n=len(arr)
maxsum=0
for i in range(n-k):
  sum=0
  for j in range(i,i+k):
    sum+=arr[j]
  maxsum=max(sum,maxsum)
print("max of sub array:",maxsum)

Enter subsequence range:3
5 1 3 4 5 6
12